.App {
    /* margin: 0 auto; */
    /* width: 80%; */
}

ul li{
    display: inline-block;
    border: solid 1px darkred;
    padding: 15px;
    width: 200px;
    margin-right: 20px;
    cursor: move;
}

#id-1 p {
    color: #549826;
}
#id-2 p {
    color: #093489;
}
#id-3 p {
    color: #880f42;
}